@font-face {
    font-family: 'Maison Neue';
    src: url('./font/MaisonNeue-LightItalic.woff2') format('woff2'),
    url('./font/MaisonNeue-LightItalic.woff') format('woff'),
    url('./font/MaisonNeue-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('./font/MaisonNeue-Light.woff2') format('woff2'),
    url('./font/MaisonNeue-Light.woff') format('woff'),
    url('./font/MaisonNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('./font/MaisonNeue-Medium.woff2') format('woff2'),
    url('./font/MaisonNeue-Medium.woff') format('woff'),
    url('./font/MaisonNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue Book';
    src: url('./font/MaisonNeue-Book.woff2') format('woff2'),
    url('./font/MaisonNeue-Book.woff') format('woff'),
    url('./font/MaisonNeue-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue Book';
    src: url('./font/MaisonNeue-BookItalic.woff2') format('woff2'),
    url('./font/MaisonNeue-BookItalic.woff') format('woff'),
    url('./font/MaisonNeue-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Mono';
    src: url('./font/MaisonNeue-Mono.woff2') format('woff2'),
    url('./font/MaisonNeue-Mono.woff') format('woff'),
    url('./font/MaisonNeue-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Mono';
    src: url('./font/MaisonNeue-MonoItalic.woff2') format('woff2'),
    url('./font/MaisonNeue-MonoItalic.woff') format('woff'),
    url('./font/MaisonNeue-MonoItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Maison Neue Demi';
    src: url('./font/MaisonNeue-Demi.woff2') format('woff2'),
    url('./font/MaisonNeue-Demi.woff') format('woff'),
    url('./font/MaisonNeue-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue Demi';
    src: url('./font/MaisonNeue-DemiItalic.woff2') format('woff2'),
    url('./font/MaisonNeue-DemiItalic.woff') format('woff'),
    url('./font/MaisonNeue-DemiItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('./font/MaisonNeue-Bold.woff2') format('woff2'),
    url('./font/MaisonNeue-Bold.woff') format('woff'),
    url('./font/MaisonNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body{
    overflow-x: hidden;
}
header nav{
    padding-right: 35px;
}
header nav > a{
    font-family: 'Maison Neue Book', Arial;
    font-size: 16px;
    padding: 10px 20px;
    display:inline-block;

}

.btn{
    font-family: 'Maison Neue Demi', Arial;
    border-radius: 4px;
    padding: 10px 30px;
}
.btn.btn-sm{
    padding: 10px 20px;
}
.btn.btn.lg{
    padding: 20px 30px;
}
.btn.btn-primary{
    color: white;
    font-family: "Maison Neue";
    font-weight: bold;
    background-color: #1fa0fd;
    box-shadow: 1px 1px 100px rgba(0,0,0,.3);
}

.btn.btn-secondary{
    font-family: "Maison Neue Book";
    border: 1px solid #1fa0fd;
    background-color: white;
    color: #1fa0fd;
}
*{
    color: #555555;
}
.text-light *{
    color: white;
}

h1{
    font-family: "Maison Neue", Arial;
    font-weight: 500;
    line-height: 32pt;
}
h2, h3, h4, h5{
    font-family: "Maison Neue", Arial;
    line-height: 32px;
}
h2, h3{
    font-weight: bold;
}

p{
    font-family: "Maison Neue Demi", Arial;
    font-weight: 100;
}
b{
    font-family: 'Maison Neue Demi', Arial;
}

img{
    width: 100%;
    height: auto;
}
body{
    background-color: white;
    font-family: 'Maison Neue';
}
header, #section-3, #section-6, #section-10{
    position:relative;
    z-index:2;
}
.bg{
    padding-top: 90px;
    padding-bottom: 90px;
    background: #2d1fcc;
    -webkit-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);
}
.bg > * {
    text-align: center;
    padding-top: 50px;
    background: url(./img/bg1.png);
    background-size: cover;

    -webkit-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
}
.bg2 > *{
    background: url(./img/bg2.png);
    background-size: cover;
}
.bg-img > *{
    padding-bottom: 220px;
}

.bg-img + section{
    margin-top: -270px;
}
.big-img > *{
    padding-bottom: 340px;
}
.big-img + section{
    margin-top: -425px;
}
#section-4 h3{
    line-height: 38px;
    font-size: 32px;
    color: #f6f4f4;
}
.slider{
    margin-top: -80px;
    padding-top: 100px;
}
#section-9 h6{
    font-family: "Maison Neue Book";
    font-size: 14px;
}
#section-9 p{
    font-family: "Maison Neue Book";
}
#section-5a{
    padding-top: 120px;
}
#section-5a p{
    padding-top: 15px;
    font-size: 18px;
}
#section-9 h4, #section-9{
    padding-top: 40px;
}
#section-12{
    padding-top: 120px;
}
#section-12 .btn-section{
    padding-top: 35px;
    padding-bottom: 35px;
}
.btn-section button{
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
blockquote{
    padding-top: 35px;
    font-family: "Maison Neue Book";
    font-size: 15px;
}
.list{
    list-style-type: none;
    padding-left: 0;

}
.list > li{
    font-size: 15px;
    font-family: "Maison Neue Book";
    padding-bottom: 8px;
}
.list > li:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: 16px;
    background-image: url("./img/tick.png");
    background-repeat: no-repeat;
    margin-right: 5px;
}
.writer{
    padding-bottom: 20px;
    font-size: 16px;
    font-family: "Maison Neue Book";
    text-align: right;
}
.avatar-img{
    margin-top: -70px;
    position: relative;
}
.avatar-img img{
    max-width: 230px;
}

header{
    background: #2d1fcc;
}
header .stuckd{
    padding: 10px 20px;
}
.stuckd img{
    max-height: 45px;
    width: auto;
}
#section-2 p{
    font-family: "Maison Neue Book", Arial;
}
#section-9 .box{
    background-color: #2457de;
}
#section-3 > .row{
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#section-3 h2{
    padding-bottom: 25px;
}
#section-5b .col-md-4{
    padding-bottom: 35px;
}

.box{
    background-color: #2b33d5;
    border-radius: 4px;
    padding: 10px 30px;
    box-shadow: 0px 10px 50px 5px rgba(0,0,0,.3);
}
.box h4{
    padding-top: 10px;
}
#section-5b .wrap{
    padding-bottom: 100px;
    height: 100%;
}
#section-5b .wrap > *:not(.img-bg){
    z-index: 2;
    position: relative;
}

#section-3 .image-wrap{
    text-align:center;
    margin:auto;
}
#section-5b .wrap img{
    max-width: 220px;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;

}
#section-9 .img-wrap{
    width: 100%;
    display:  inline-block;
}
#section-9 .img-wrap img{
    height: 100px;
    width: auto;
    max-width: 100%;
    float: right;

}
#section-12 .img-wrap{
    max-width: 170px;
    margin:auto;
    padding-right: 48px;
}
#section-9 .row > *, #section-5b .row > *{
    padding-bottom: 35px;
}
.white-box{
    background: #f0f0f0;
    color: black;
    padding: 25px 15px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.white-box h4{
    padding-top: 15px;
}
footer{
    background:linear-gradient(to right, #371dc9, #2f5ce5);
    padding-top: 20px;
}
footer p{
    font-family: "Maison Neue";
    font-weight: normal;
}

.footer-img{
    max-width: 720px;
    margin:auto;
}
.faq-section{
    padding-top: 35px;
}
#section-11 .num{
    padding-top: 7px;
    height: 40px;
    width: 60px;
    margin:auto;
    background-color: #3f2cda;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Maison Neue Book', Arial;
    color: white;
    border-radius: 5px;
}
#section-7 .steps p{
    font-family: "Maison Neue";
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
#section-7 .steps h4{
    font-family: "Maison Neue Demi";
    font-weight: bold;
    font-size: 16px;
    padding-top: 35px;
}
#section-4 button{
    margin-top: 35px;
}
#section-6 .row, #section-4 .row, #section-9 .btn-section{
    width: 100%;
    margin: auto;
}

.cube-wrap{
    /*padding-left: 0;
    padding-right: 0;*/

}
.cube{
    position: relative;
    z-index: 3;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.cube1{
    bottom: 60px;
    left: 7%;
}
.cube2{
    top: 80px;
    left: 5.5%;
}

.cube3{
    bottom: 10px;
    right: 5%;
}
.cube4{
    margin-top: -70px;
    left: 6%;
}

.blockrow{
    position: relative;
    margin-top: -250px;
}

.step-line{
    top: 220px;
    position:relative
}
.steps-line-img-wrap{
    margin-left: 9.2%;
    margin-right: 9.2%;
}
.faq-section h4{
    font-size: 19px;
    font-family: "Maison Neue Demi", Arial;
    font-weight: bold;
}
.faq-section p{
    font-size: 14px;
}
#section-8{
    padding-top: 50px;
    padding-bottom: 50px;
}
#section-8 h2{
    line-height: 40px;
    padding-bottom: 20px;
}
#section-8 p{
    line-height: 28px;
}
.arrow-right{
    background: url(./img/right-arrow.png);
    width: 20px;
    height: 14px;
    margin-top: 5px;
    margin-left:5px;
    float: right;
    background-size: cover;
}
#section-9 a{
    font-size: 13px;
    font-family: "Maison Neue";
    font-weight: bold;
}
#section-9 .box{
    padding-bottom: 25px;
}

@media screen and (max-width: 576px){
    .bg-img > *{
        padding-bottom: 35px;
    }

    .bg-img + section{
        margin-top: -90px;
    }
    .big-img > *{
        padding-bottom: 80px;
    }
    .big-img + section{
        margin-top: -150px;
    }
    #section-6 button{
        margin-bottom: 35px;
    }
    #section-3 .image-wrap img{
        max-width: 70px;
        width: auto;
    }
    #section-3 .image-wrap + p{
        text-align:center;
    }
    #section-3, #section-6, #section-10{
        margin-bottom: 60px;
    }
    #section-3 > .row {
        border-radius: 0px;
    }
    .cube2{
        top: 0;
        left: 7.5%;
        margin-top: -65px;
    }
    #section-8{
        padding-bottom: 0;
    }
    #section-10{
        margin-top: 60px;
    }
    .blockrow{
        margin-top: -65px;
    }
    #section-9{
        padding-top:0;
    }
    .cube1{
        bottom: 40px;
        left: 6%;
    }
    .cube2{
        top: 0;
        left: 4%;
        margin-top: -55px;
    }
    .cube3{
        bottom: 4px;
        right: 3%;
    }
    .cube4 {
        bottom: 0px;
        top: 0px;
        left: 5%;
        margin-top: -55px;
    }
}
@media screen and (min-width: 577px) and (max-width: 767px){
    .bg-img > *{
        padding-bottom: 80px;
    }

    .bg-img + section{
        margin-top: -130px;
    }
    .big-img > *{
        padding-bottom: 200px;
    }
    .big-img + section{
        margin-top: -270px;
    }
    #section-6 button{
        margin-bottom: 35px;
    }
    #section-3 .image-wrap img{
        max-width: 120px;
        width: auto;
    }
    #section-3 .image-wrap{
        margin-bottom: 35px;
    }
    #section-3 .image-wrap + p{
        text-align:center;
    }
    #section-3, #section-6, #section-10{
        margin-bottom: 60px;
    }
    #section-10{
        margin-top: 60px;
    }
    #section-3 > .row {
        border-radius: 0px;
    }
    .cube2{
        top: 0;
        left: 7.5%;
        margin-top: -65px;
    }
    #section-8{
        padding-bottom: 0;
    }
    .blockrow{
        margin-top: -65px;
    }
    #section-9{
        padding-top:0;
    }
    .cube1 {
        bottom: 45px;
        left: 11%;
    }
    .cube3 {
        bottom: 10px;
        right: 6%;
    }
    .cube4 {
        bottom: 0px;
        top: 0px;
        left: 8%;
        margin-top: -70px;
    }
}

@media screen and (min-width: 768px){
    #section-3 .image-wrap img{
        height: 45px;
        width: auto;
    }
    #section-3 .image-wrap{
        margin-bottom: 35px;
    }
    #section-5b .col-md-4:nth-child(2){
        position: relative;
        top: 80px;
    }
    #section-5b .col-md-4:nth-child(3){
        position: relative;
        top: 160px;
    }
    #section-9 .col-md-4:nth-child(2n-1){
        padding-top: 180px;
    }
    /*#section-7 .steps .circle{
        border-radius: 100%;
        width: 24px;
        height: 24px;
        background-color: #202c93;
        margin:-15px auto;
    }*/
    /*#section-7 .steps > *::after, #section-7 .steps > *::before {
        content: ' ';
        padding: 0 100%;
    }*/
    /*#section-7 .steps > *:nth-child(2n+1)::before{
        border-bottom: 1px solid #08b7e5;
    }

    #section-7 .steps > *:nth-child(2n)::after{
        border-top: 1px solid #08b7e5;
    }*/
    #section-7 .steps > *:nth-child(2n+1){
        top: 220px;
    }

    #section-7 .steps p{
        padding-bottom: 35px;
        height: 100px;
    }
    #section-7 .steps > *{
        padding-left: 0;
        padding-right: 0;
    }
    #section-7 .steps{
        margin-top: -50px;
        padding-bottom: 200px;
    }
    #section-7 .steps > *:nth-child(2){
        position: relative;
        left: 2%;
    }
    #section-7 .steps > *:nth-child(4){
        position: relative;
        right: 6%;
    }
    #section-7 .steps > *:nth-child(3){
        position: relative;
        right: 2%;
    }
    #section-7 .steps > *:nth-child(5){
        position: relative;
        right: 2%;
    }
    .avatar-img img{
        float:right;
    }
    #section-5b{
        padding-top: 40px;
        padding-bottom: 280px;
    }
    .video-img{
        margin-top: -100px;
        position: relative;
        top: 50px;
    }
    .faq-section > *:nth-child(2){
        padding-top: 40px;
    }
    .faq-section > *:last-child{
        padding-top: 80px;
    }
    .bg2, .bg3{
        margin-top: -64px;
    }
    #section-3 > .main-row, #section-6 > .row, #section-10{
        box-shadow: 0px 10px 50px 5px rgba(0,0,0,.3);
    }

    .cube{
        max-width: 120px;
    }

}